body {
    font-family: "Nazanin"!important;
    font-size: 14px;
}

body * {
	direction: rtl;
}

a {
    color: orange;
    text-decoration: none;
}

input[disabled] {
    background-color: #f8f8f8!important;
}

@font-face {
    font-family: "Nazanin";
    src: url("fonts/BNAZANIN_2.ttf");
}

@font-face {
    font-family: "Nazanin";
    src: url("fonts/BNAZANB_0.ttf");
    font-weight: bold;
}

.item .item-content {
    padding: 16px 16px 16px 49px;
}

.item-complex.item-energized>.item-content {
    background-color: #ffe900;
}

.item-radio .radio-icon {
    left: 0;
	right: auto;
}

.item-radio input {
	right: -9999;
	left: 0;
}

.item-radio input:checked~.item-content {
    background-color: lightgreen;
}

.highlight {
    font-weight: bold;
}
