<ion-view view-title="واژه نامه نوزده هزار لغت">
  <ion-content>
    <div class="list list-inset">
      <ion-item class="item item-input item-dark item-text-wrap" style="padding: 10px 4px 10px 20px;">
        <i class="icon ion-search placeholder-icon" style="margin-right: 5px"></i>
        <input type="search" placeholder="جستجو..." ng-model="searchData.query" style="padding: 5px 10px; font-family: Nazanin; font-size: 22px; line-height: 30px; background: white; margin: 8px;" ng-change="search($event)" ng-disabled="searchStarted" autofocus>
        <div style="width: 5px">
          <button ng-if="searchData.query.length" class="input-button button button-clear button-icon ion-close-circled" style="margin-left: -12px; padding-right: 0px" ng-click="clearSearch()"></button>
        </div>
      </ion-item>
    </div>
    <br ng-if="!letters.length" />
    <p class="text-center" ng-if="searchData.query.length && !letters.length && !searching"><strong style="font-size: 24px; color: #ffc900">لغت مورد نظر پیدا نشد.</strong>
    </p>
    <div class="text-center" ng-show="searching">
      <h2 class="icon ion-loading-d" style="font-size: 40px; color: #ffc900"></h2>
    </div>
    <div class="text-center" ng-show="!searchData.query.length">
      <h1 style="font-size: 120px; color: #ffc900" class="icon ion-android-search"></h1>
    </div>
    <div class="list list-inset fade-in-not-out" ng-repeat="letter in letters">
      <ion-item class="item-divider">{{letter}}</ion-item>
      <ion-item class="item-text-wrap item-energized item-icon-right" ng-repeat="result in results[letter]" href="#/app/search/{{result.id}}">
        <i class="icon ion-document-text"></i>
        <span class="result" style="color: black; font-size: 18px;">{{result.word}}</span>
      </ion-item>
      <span ng-show="false" ng-init="$last ? highlight() : null"></span>
    </div>
  </ion-content>
</ion-view>