<ion-view view-title="واژه نامه نوزده هزار لغت">
  <ion-content>
    <div class="list list-inset">
      <ion-item class="item item-divider item-dark item-icon-right " style="font-size: 18px; padding: 0; font-weight: bold" href="#" ng-click="toggleSearchModeViewer()">
        <i class="icon ion-ios7-minus-empty" ng-show="searchModeShown"></i>
        <i class="icon ion-ios7-plus-empty" ng-show="!searchModeShown"></i> روش جستجو
      </ion-item>
      <ion-radio ng-model="searchMode" ng-value="'automatic'" style="font-size: 18px; font-weight: bold" ng-change="changeSearchMode('automatic')" ng-show="searchModeShown">جستجوی اتوماتیک و قوی</ion-radio>
      <ion-radio ng-model="searchMode" ng-value="'manual'" style="font-size: 18px; font-weight: bold" ng-change="changeSearchMode('manual')" ng-show="searchModeShown">جستجوی دستی و سریع</ion-radio>
    </div>
    <div class="list list-inset">
      <ion-item class="item item-input item-dark item-text-wrap" style="padding: 7px 4px 7px 20px;" ng-if="!lightVersion">
        <i class="icon ion-search placeholder-icon" style="margin-right: 5px; font-size: 32px;"></i>
        <input type="search" placeholder="جستجو..." ng-model="searchData.query" style="padding: 5px 10px; font-family: Nazanin; font-size: 24px; line-height: 30px; background: white; margin: 8px;" ng-change="search($event)" ng-disabled="searchStarted" autofocus>
        <div style="width: 20px">
          <button ng-if="searchData.query.length" class="input-button button button-clear button-icon ion-close-circled button-energized" style="margin-left: -12px; padding-right: 0px; font-size: 32px;" ng-click="clearSearch()"></button>
        </div>
      </ion-item>
      <ion-item class="item item-input item-dark item-text-wrap" style="padding: 7px 4px 7px 20px;" ng-if="lightVersion">
        <input type="search" placeholder="جستجو..." ng-model="searchData.query" style="padding: 5px 10px; font-family: Nazanin; font-size: 24px; line-height: 30px; background: white; margin: 8px;" autofocus>
        <button class="input-button button button-clear button-icon ion-search button-energized" style="margin-left: -12px; padding-right: 0px; font-size: 40px;" ng-click="search($event)"></button>
      </ion-item>
    </div>
    <br ng-if="!letters.length" />
    <p class="text-center" ng-if="showEmpty && !showLogo"><strong style="font-size: 24px; color: #ffc900">لغت مورد نظر پیدا نشد.</strong>
    </p>
    <div class="text-center" ng-show="searching">
      <h2 class="icon ion-loading-d" style="font-size: 40px; color: #ffc900"></h2>
    </div>
    <div class="text-center" ng-show="showLogo && !showEmpty">
      <h1 style="font-size: 120px; color: #ffc900" class="icon ion-android-search"></h1>
    </div>
    <div class="list list-inset" ng-repeat="letter in letters">
      <ion-item class="item-divider" style="font-size: 24px;" ng-if="letter != ''">{{letter}}</ion-item>
      <ion-item class="item-text-wrap item-energized item-icon-right" ng-repeat="result in results[letter]" href="#/app/search/{{result.id}}">
        <i class="icon ion-document-text"></i>
        <span class="result" style="color: black; font-size: 24px;">{{result.word}}</span>
      </ion-item>
      <span ng-show="false" ng-if="!lightVersion" ng-init="$last ? highlight() : null"></span>
    </div>
  </ion-content>
</ion-view>